[submodule "roles/zsh/files/.zsh/zsh-autosuggestions"]
	path = roles/zsh/files/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "roles/neovim/files/neovim"]
	path = roles/neovim/files/neovim
	url = https://github.com/neovim/neovim
[submodule "roles/dwm/files/dwm"]
	path = roles/dwm/files/dwm
	url = https://github.com/mircodezorzi/dwm
[submodule "roles/ergodox/files/qmk_firmware"]
	path = roles/ergodox/files/qmk_firmware
	url = https://github.com/mircodezorzi/qmk_firmware
[submodule "roles/dwm/files/dmenu"]
	path = roles/dwm/files/dmenu
	url = https://github.com/mircodezorzi/dmenu
[submodule "library/ansible-yay"]
	path = library/ansible-yay
	url = https://github.com/mnussbaum/ansible-yay
[submodule "roles/dotfiles/files/.config/ranger/plugins/ranger_devicons"]
	path = roles/dotfiles/files/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/vim-orgmode"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/vista.vim"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/vista.vim
	url = https://github.com/liuchengxu/vista.vim
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/haskell-vim"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/vim-vue"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/nerdtree"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/vim-grammarous"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/vim-devicons"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/vim-speeddating"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/ctrlp.vim"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/command-t"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/command-t
	url = https://github.com/wincent/command-t
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/--force"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/--force
	url = https://github.com/gabrielelana/vim-markdown
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/markdown-preview.nvim"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/markdown-preview.nvim
	url = https://github.com/mircodezorzi/markdown-preview.nvim
[submodule "roles/neovim/files/.config/nvim/pack/bundle/opt/completion-nvim"]
	path = roles/neovim/files/.config/nvim/pack/bundle/opt/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule "roles/dotfiles/files/.config/.tmux/tmux-sensible"]
	path = roles/dotfiles/files/.config/.tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "roles/dotfiles/files/.tmux/tmux-sensible"]
	path = roles/dotfiles/files/.tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "roles/awesome/files/.config/awesome/awesome-wm-widgets"]
	path = roles/awesome/files/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "roles/zsh/files/.zsh/pure"]
	path = roles/zsh/files/.zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule "roles/awesome/files/.config/awesome/lain"]
	path = roles/awesome/files/.config/awesome/lain
	url = https://github.com/lcpz/lain
