#!/usr/bin/env bash

xset r rate 250 35

# If Ergodox keyboard is unplugged switch to Dvorak programmer keyboard layout.
[ -z "$(lsusb | grep ErgoDox)" ] && setxkbmap -layout us -variant dvp

case "$WM" in

  "dwm")

    kill_if_alive() {
      pidof $1 && pkill $1
      $@ &
    }

    # Statusbar
    bin/status

    # Set Wallpaper
    ~/.fehbg

    kill_if_alive clipmenud
    kill_if_alive dropbox
    kill_if_alive dunst
    kill_if_alive picom
    kill_if_alive redshift
    kill_if_alive unclutter --timeout 2 --fork

    ;;

  *) exec $WM ;;

esac
