*.background:   #1d1f21
*.foreground:   #c5c8c6
*.cursorColor:  #c5c8c6
*.color0:       #1d1f21
*.color1:       #cc6666
*.color2:       #b5bd68
*.color3:       #f0c674
*.color4:       #81a2be
*.color5:       #b294bb
*.color6:       #8abeb7
*.color7:       #3c4043
*.color8:       #242729
*.color9:       #cc6666
*.color10:      #b5bd68
*.color11:      #f0c674
*.color12:      #81a2be
*.color13:      #b294bb
*.color14:      #8abeb7
*.color15:      #ffffff

! Urxvt
URxvt.font:\
	xft:Source\ Code\ Pro:style=Light:size=12:antialias=true,\
	xft:xos4\ Terminus:style=Thin:size=12:antialias=true

URxvt.iso14755:    false
URxvt.iso14755_52: false
URxvt.matcher.button: 1
URxvt.scrollBar: false

URxvt.perl-ext-common: default,matcher,resize-font,clipboard
URxvt.perl-ext: default,url-select

URxvt.clipboard.autocopy: true

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-h: resize-font:smaller
URxvt.keysym.M-t: resize-font:bigger

