auto-save-list
autosaves
.cache
.dap-breakpoints
elpa
eshell
init.el
init.elc
kkcrc
.lsp-eslint-choices
.lsp-session-v1
org-gcal
.org-generic-id-locations
.org-id-locations
org-roam.db
persist
projectile-bookmarks.eld
projectile.cache
projects
recentf
request
transient
tutorial
url
yse
