.cache
.dap-breakpoints
.last-package-update-day
.lsp-eslint-choices
.lsp-session-v1
.org-generic-id-locations
.org-id-locations
auto-save-list
autosaves
elpa
eshell
init.el
init.elc
kkcrc
persist
projectile-bookmarks.eld
projectile.cache
projects
recentf
request
transient
tutorial
url
yse
