.cache
.dap-breakpoints
.last-package-update-day
.lsp-eslint-choices
.lsp-session-v1
.org-generic-id-locations
.org-id-locations
_minted-init
auto-save-list
autosaves
elpa
eshell
history
init.el
init.elc
kkcrc
persist
persp-confs
projectile-bookmarks.eld
projectile.cache
projects
recentf
request
straight
transient
tutorial
url
yse
